body h1 h2 h3 h4{
    display: flex;
    justify-content: center;
}


body h1 {
    font-size: 20px;
    text-align: center;
}

body h2 {
    font-size: 50px;
    text-align: center;
    color: dodgerblue;
}

body h3 {
    font-size: 30px;
    text-align: center;
    color: #fc4300de;
}

body h4 {
    font-size: 20px;
    text-align: center;
}

#miReporte{
    width: 780px;
}

select {
    width: 25%;
    padding: 10px 10px;
}

.boton {
    cursor: pointer;
}


.search-container {
    padding: 10px 10px 10px 0px;
    cursor: pointer;
}



.no-resultados {
    font-size: 20px;
    background-color: #f4c4b3;
    text-align: left;
    display: none;
}

#reporteCompleto {
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: normal;
}
